

body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  
}

.container{

    width: 400px; 
    margin: 10vh auto 0 auto;
}


.buttons{
    display: grid;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #2c3e50;
}

#displayAnswer{
    width: 400px;
    height: 100px;
    background-color: #bddce3;
    color:#0d4680;
    text-align: right;
    font-size: 40px;
    margin-right: 10px;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
}

.button{
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    border: 0.5px solid #bdc3c7; 
    color: #ffffff;
    background-color: #34495e;
}
.button:hover {
    background-color: #5d6d7e;
    transition: 0.3s ease-in-out;
}



#equals {
    background-color: #27ae60; 
    color: #9f4545;
}

#equals:hover {
    background-color: #2ecc71; 
    color: #ffffff;
    transition: 0.3s ease-in-out
}
